html,body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
     background-image: url(IMAGES/photo-1462206092226-f46025ffe607.jpg);  
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
}


.info-box{


    background-image: url(IMAGES/account.background.jpg);  
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    border: 3px solid rgb(74, 74, 74);
    background-color: grey;
    width: 85%;
    height: 85%;

}
.upper{
    display: flex;
    width: 100%;
    height: 30%;
    padding: 0%;
    font-size: 100%;
    color: brown;
    justify-content: space-between;
    

}
.return {
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: brown;
    width: 25%;
    height: 100%;
}
.delete{
    margin: 1%;
    cursor: pointer;
    
}
.acc-info{


    
    width: 100%;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
     overflow-y:scroll;
    flex-wrap: wrap;
    height: 60%;

}

.acc-info::-webkit-scrollbar{
    display: none;
}

.info{
    width: 30%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: rgb(142, 142, 142);
    /* padding: 1%; */
    /* border: 1px solid white; */
    /* border-right: 1px solid black; */
    margin: 0.5%;
}
.info:hover{
    background-color:rgb(95, 95, 95);
    border:1px solid black;
}

.changeable:hover{
    border:1px solid brown;
}
.about-info{
    width: 30%;
    display: flex;
    justify-content: center;
    /* justify-content: end; */
    color: black;
}
.box-get-info{
    width: 45%;
    display: inline-block;
    overflow: hidden;
    background-color: white;
}
.get-info{
    /* animation: reveal 5s linear forwards; */
    width: 100%;
    padding-left: 0%;
    color: brown;
    
}

@keyframes reveal {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}




.popup{
    display: none;
    position: fixed; inset: 0;
    display: flex; align-items: center; justify-content: center;
    background: rgba(0,0,0,.35);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 1000;
    /* display: none; */
    
}
#popup-id{
    display:none;
}
#popup-box-id1{
    display: none;
}
.popup-box{
    width: 40%;
    height: 50%;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 50px 100px black;
    

}
.field{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 3%;
    margin-bottom: 3%; */
}
.field-label{
    width: 25%;
    display: flex;
    justify-content: end;
}
.field-input{
    width: 40%;
    height: 3vh;
    border: 1px solid black;
}
#to-field{
    display: flex;
    
}

.action{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;

}
.action-button{
    border: 1px solid black;
    width: 25%;
    height: 4vh;
    margin: 1%;
}

@media (min-width:51px) and (max-width:700px){
    .popup-box{
        width: 90%;
    }

    .info{
        width: 90%;
    }
    .box-get-info{
        width: 65%;
    }
    .return{
        width: 35%;
        font-size: 100%;
    }
    .delete{
        font-size: 70%;
    }


}




@media(min-width:2000px){
    .field{
        font-size: 300%
    }

    .field-input{
    width: 40%;
    height: 4.5vh;
    border: 2.5px solid black;
    font-size: 50%;
    
    }
    .action-button{
        font-size: 200%;
    }

    .return{
        font-size: 300%;
    }
    .delete{
        font-size:200%;
    }
    .about-info{
        font-size: 250%;
        width: 35%;
    }
    .get-info{
        height: 3vh;
        font-size: 200%;
    }

}

@media (min-width:701px) and (max-width:1000px){
    .return{
        font-size: 125%;
    }
    .delete{
        font-size: 80%;
    }
    .get-info{
        font-size: 80%;
    }
    .about-info{
        font-size:80% ;
        width: 40%;
    }
    .box-get-info{
        width: 50%;
    }
}