
body,html{
    background-color: grey;
    margin: 0%;
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url(IMAGES/photo-1462206092226-f46025ffe607.jpg);  
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    /* overflow-y: auto; */
}
.Main{
    border: 1px solid black;
    width: 80%;
    height:100vh;
    overflow-y: auto;
    background-color: rgba(252,242,224,255);

   
}


.nav-bar{
    height: 20vh;
    display: flex;
    flex-direction: row;
    background-image: url(IMAGES/banking-and-finance-concept-digital-connect-system-financial-and-banking-technology-with-integrated-circles-glowing-line-icons-and-on-blue-background-design-vector.jpg);  
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
}
.Return-button{
    width: 25%;
    height: 100%;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
    color: brown;
}
.Future-idea{
    width: 50%;
    
}

.Delete-button{
    cursor: pointer;
    color:brown;
    font-size: 125%;
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.Box_of_breif_Histo{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center;     */
    width: 100%;
    height: 30vh;
    
    margin-top: 2%;
}

.Sort_By{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;

}

.sort_By_time{
    width: 7vw;
    opacity: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 1%; */
}

.History{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    
    

}

.histo_info{
    width: 50%;
    height: 5vh;
    margin-left: 1%;
    font-size: 125%;  
    display: flex;
    align-items: center;
    color: #b0603b;
}



.Main_Users_history{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    /* border:1px solid black; */

    
}
.Main::-webkit-scrollbar{
    display: none;
}

.Unique_User{
    /* border: 1px solid black; */
    
    overflow: hidden;
    height: 7vh;
    width: 70vw;
    margin: 0.3%;
    transition: height 0.4s ease;
    
}
.Unique_User.active{
    height: 32vh;
}

.User_info{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 7vh;
    background-color: #1E3A8A;
    justify-content: space-between
}
.User_info_upper{
    display: flex;
    justify-content:center;
    align-items: center;
    color:whitesmoke;
    width: 10vw;
}
#User_date{
    opacity: 50%;
}
.unique_user_extended{
    background-color: rgb(43, 43, 43);
    
    height: 25vh;
    overflow: hidden;
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: row;
    justify-content: start;
    align-items: center;
    overflow-x:auto;
    
}
.unique_user_extended::-webkit-scrollbar{
    display: none;
}
.transactions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    background-color: beige;
    width: 15vw;
    height: 20vh;
    min-width: 15vw;
    margin-left: 1%;
}
.transactions:hover{
    background-color:rgb(202, 202, 176) ;
}
.transaction_info{
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}

.emptymsge{
    font-size: 150%;
    color: black;
    opacity: 50%;
}
.Remove-button{
    color: rgb(0, 0, 0);
    margin-top: 5%;
    cursor: pointer;
}




@media (min-width:320px) and (max-width:700px){


    .Main{
        width: 90%;
    }
    .Return-button{
        width: 35%;
        font-size: 150%;
    }
    .Delete-button{
        width: 35%;
        font-size: 100%;
    }
    .sort_By_time{
        width: 20vw;
    }
    .History{
        align-items: center;
    }
    .histo_info{
        font-size: 80%;
    }

    .Unique_User{
        width: 85vw;
        font-size: 85%
    }
    .User_info_upper{
        width: 20vw;
    }
    .transactions{
        width: 30vw;
        font-size: 80%;
    }

    .emptymsge{
    font-size: 85%;
    
    }

}



@media(min-width:2000px) {
      .Main{
        width: 70%;
    }
    .Return-button{
        width: 35%;
        font-size: 400%;
    }
    .Delete-button{
        width: 15%;
        font-size: 300%;
    }
    .sort_By_time{
        width: 10vw;
        font-size: 250%;
    }
    .History{
        /* font-size: 250%; */
        /* align-items: center; */
    }
    .histo_info{
        font-size: 250%;
    }

    .Unique_User{
        width: 65vw;
        font-size: 250%
    }
    .User_info_upper{
        width: 10vw;
    }
    .transactions{
        width: 15vw;
        font-size: 100%;
    }
    .emptymsge{
    font-size: 300%;
    
    }
}
