.wrapper{
    background-image: url(IMAGES/SIGN_IN_WALLPAPER.jpg);
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh; 
    
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    margin: 0%;
    padding: 0%;
    position: relative;
    width: 100%;
}

.SIGN_IN_BOX{
    
    background-color: whitesmoke;
    width: 40%;
    height: 60%;
    padding:1%;
    margin: 0PX;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    opacity: 1;
    transition:opacity 0.5s ease ;
    overflow-y:auto;
    overflow-x: hidden;
}

.SIGN_IN_FORM{
    
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       
}

.row_inputs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.input{
    width: 50%;
    margin: 2.5%;
    display: flex;
    flex-direction: row;
   
}
.About_Input{
    display: flex;
    
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 25%;
    font-size: 85%;
    color: rgba(194,181,173,255);
}
.info_inputs{
    
    width: 70%;
    height: 2vw;
    box-sizing: border-box;
    border: 1px solid rgba(194,181,173,255);
    border-radius: 1px;
    
}
.info_inputs:focus{
    font-style: italic;
}

.OTHER_OPTIONS{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Next_button{
    font-size: 100%;
    margin: 1%;
    width: 20%;
    height: 5vh;
    border: 1px solid black;
    border-radius: 5px;
    background-color:rgba(194,181,173,255);
}

.message{
    color: red;
    
    font-size: 100%;
    display: flex;
    justify-content: center;
}

#page1{
    display: block;
}

#page2{
    display: none;
}
#signedup{
    display: none;
    background-color:red;
}   


#select-value{
    background-color: rgba(194,181,173,255);
    font-size: 100%;

}
#select-value:hover{
    background-color: rgba(194,181,173,255);

}
.terms{
    font: 100%;
}
@media (min-width:320px) and (max-width:700px){
    .wrapper{
        object-fit:scale-down;
    }
    .SIGN_IN_BOX{
        width: 85vw;
        height: auto;
        font-size: 100%;
    }
    .SIGN_IN_FORM{
        width: 100%;
    }
    .input-box{
        width: 80%;
        font-size: 50%;
    }
    .SIGN_IN_BUTTON{
        height: 5vw;
        font-size: 35%;
    }
    .row_inputs{

        width: 100%;
    }
    .input{
        margin: 1%;
        flex-direction: column;


    }
    .LOGIN{
        font-size: 50%;
    }
    .About_Input{
        font-size: 100%;
        width: 100%;
        justify-content: start;
    }
    .info_inputs{
        height: 5vh;
        font-size: 70%;
    }
    .Next_button{
        height: 5vh;
        font-size: 50%;
    }
    .message{
        font-size: 50%;
    }
    .terms{
        font-size: 50%;
    }
    
} 



@media(min-width:2000px) {

    
    .input-box{
        width: 80%;
        font-size: 170%;
    }
    
   
    .LOGIN{
        font-size: 170%;
    }
    .row_inputs{

        width: 100%;
    }

    .input{
        margin: 3.5%;
    
    }
    .About_Input{
        font-size: 170%;
        width: 40%;
        
    }
    .info_inputs{
        
        font-size: 170%;
    }

    .Next_button{
        
        font-size: 170%;
    }
    
     .message{
        font-size: 200%;
    }
    .terms{
        font-size: 125%;
    }


    
    
    
}

@media (min-width:701px) and (max-width:1000px){

    .SIGN_IN_BOX{
        width: 75%;
        height: 70%;
    }
    .input-box{
        width: 80%;
        font-size: 100%;
    }
    
   
    .LOGIN{
        font-size: 100%;
    }
    .row_inputs{
        
        width: 100%;
    }

    .input{
        flex-direction: column;
        margin: 1%;
    
    }
    .About_Input{
        font-size: 100%;
        width: 100%;
        justify-content: start;
        
    }
    .info_inputs{
        
        font-size: 100%;
    }

    .Next_button{
        height: 2.5vw;
        font-size: 100%;
    }
    
     .message{
        font-size: 100%;
    }


}