.wrapper{
    background-image: url(IMAGES/SIGN_IN_WALLPAPER.jpg);
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh; 
    overflow-y: scroll;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    margin: 0%;
    padding: 0%;
    position: relative;
    width: 100%;
}
.SIGN_IN_FORM{
    
    
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.SIGN_IN_BOX{
    background-color: whitesmoke;
    width: 35%;
    /* height: 60vh; */
    padding:1%;
    margin: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow-y: auto;

}
.input-box{
   margin: 4%;
   width: 100%;
   font-size: 100%;
   padding: 5%;
   box-sizing: border-box;
   border: 2px solid rgba(194,181,173,255);

}
.input-box:focus{
    font-style: italic;    
}
.show-password{
    margin-left: 90%;
    cursor: pointer;
    font-size: 100%;
    color: grey;
    opacity: 50%;
}
.reveal_password{
    position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.1rem;
  user-select: none;
  color: blue;
  opacity: 0.5;
}
.OTHER_OPTIONS{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.SIGN_IN_BUTTON{
    width:30% ;
    border:2px solid rgba(194,181,173,255);
    background: white;
    height:3vw;
    color:grey;
    font-size: 100%;
    
}
.mar1{
    margin-left: 5%;
    font-size: 100%;
    text-decoration: none;
    color: black;
    
}
.mar1.mar1:hover{
    text-decoration: underline;
    color: rgba(194,181,173,255);
}
body{
    margin: 0px;
    padding: 0px;

}
#validation-message{
    color: red;
    font-size: 100%;
    margin: 0%;
}


@media (min-width:320px) and (max-width:700px){
    .wrapper{
        object-fit:scale-down;
    }
    .SIGN_IN_BOX{
        width: 70vw;
        height: auto;
        font-size: 150%;
    }
    .input-box{
        width: 80%;
        font-size: 50%;
    }
    .SIGN_IN_BUTTON{
        height: 5vw;
        font-size: 35%;
    }
    .mar1{
        font-size: 50%;
    }
    .LOGIN{
        font-size: 50%;
    }
    .show-password{
        font-size: 50%;
        margin-left: 65%;
    }
    .validation-message{
        font-size: 50%;
    }
    
    
} 
@media(min-width:2000px) {
    .input-box{
        width: 80%;
        font-size: 200%;
    }
    .SIGN_IN_BUTTON{
        height: 3vw;
        font-size: 200%;
    }
    .mar1{
        font-size: 200%;
    }
    .LOGIN{
        font-size: 200%;
    }
    .show-password{
        font-size: 200%;
        margin-left: 65%;
    }
     .validation-message{
        font-size: 200%;
    }
    
    
}

